{% extends 'base.html' %}

{% load static %}

{% block content %}
	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<div class="section-title">
				<h2>Partners</h2>
			</div>
        </div>

    <!-- Our Schedule Area Start -->
    <section class="our-schedule-area bg-white section-padding-100">
        <div class="container">
            <div class="row col-12">
                <div class="container">
                    <img src="{% static 'mainapp/img/duchy.PNG' %}">
                </div>
               
            </div>
        </div>
    </section>
    <!-- Our Schedule Area End -->
	</section>
	<!-- letest product section end -->

	{% endblock %}
