@-webkit-keyframes l {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes l {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes m {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes m {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.e {
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
  padding: 15px;
  background: #fafafc; }
  .e .f {
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    width: 100%; }
    .e .f .g {
      color: #12121a;
      font-size: 36px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 400;
      letter-spacing: 0.5px;
      line-height: 1.31;
      margin-bottom: 12px;
      text-align: center; }
    .e .f .h {
      color: #676680;
      font-size: 16px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: 0.3px;
      line-height: 1.6;
      margin-bottom: 30px;
      text-align: center; }
    .e .f .i {
      margin-bottom: 30px; }
    .e .f .j {
      max-width: 600px;
      width: 100%; }
      .e .f .j.k {
        max-width: 360px; }

@-webkit-keyframes evu {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes evu {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes f0o {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes f0o {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.evn {
  backface-visibility: hidden;
  border: 0;
  cursor: pointer;
  display: inline-block;
  outline: 0;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all .15s;
  width: auto; }
  .evn.evo {
    background: #526ede;
    color: #fff; }
    .evn.evo.evp {
      background: rgba(82, 110, 222, 0.2); }
    .evn.evo:not(.evp):not(.evq):hover {
      background: #627be0; }
      .evn.evo:not(.evp):not(.evq):hover.evr {
        box-shadow: 0 5px 10px 0 rgba(98, 123, 224, 0.2); }
  .evn.evs {
    background: #526ede;
    color: #fff; }
    .evn.evs.evp {
      background: rgba(46, 50, 70, 0.9); }
    .evn.evs:not(.evp):not(.evq):hover {
      background: #627be0; }
      .evn.evs:not(.evp):not(.evq):hover.evr {
        box-shadow: 0 5px 10px 0 rgba(98, 123, 224, 0.2); }
    .evn.evs.evt {
      -webkit-animation: evu 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: evu 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
  .evn.evv {
    background: #391995;
    color: #fff; }
    .evn.evv.evp {
      background: rgba(46, 50, 70, 0.9); }
    .evn.evv:not(.evp):not(.evq):hover {
      background: #627be0; }
      .evn.evv:not(.evp):not(.evq):hover.evr {
        box-shadow: 0 5px 10px 0 rgba(98, 123, 224, 0.2); }
    .evn.evv.evt {
      -webkit-animation: evu 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: evu 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
  .evn.evv {
    background: #391995;
    color: #fff; }
    .evn.evv.evp {
      background: rgba(46, 50, 70, 0.9); }
    .evn.evv:not(.evp):not(.evq):hover {
      background: #627be0; }
      .evn.evv:not(.evp):not(.evq):hover.evr {
        box-shadow: 0 5px 10px 0 rgba(98, 123, 224, 0.2); }
    .evn.evv.evt {
      -webkit-animation: evu 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
      animation: evu 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both; }
  .evn.f00 {
    background: transparent;
    color: #2e3246; }
    .evn.f00.evp {
      background: rgba(0, 0, 0, 0); }
    .evn.f00:not(.evp):hover {
      background: #dfe0e6; }
  .evn.f01 {
    background: #ff7947;
    color: #fff; }
    .evn.f01.evp {
      background: rgba(255, 121, 71, 0.2); }
    .evn.f01:not(.evp):hover {
      background: rgba(255, 121, 71, 0.9); }
      .evn.f01:not(.evp):hover.evr {
        box-shadow: 0 5px 10px 0 rgba(255, 121, 71, 0.2); }
  .evn.f02 {
    background: #ec162c;
    color: #fff; }
    .evn.f02.evp {
      background: rgba(236, 22, 44, 0.2); }
    .evn.f02:not(.evp):hover {
      background: rgba(236, 22, 44, 0.9); }
      .evn.f02:not(.evp):hover.evr {
        box-shadow: 0 5px 10px 0 rgba(236, 22, 44, 0.2); }
  .evn.f03 {
    background: #4940ff;
    color: #fff; }
    .evn.f03.evp {
      background: rgba(73, 64, 255, 0.2); }
    .evn.f03:not(.evp):hover {
      background: rgba(73, 64, 255, 0.9); }
      .evn.f03:not(.evp):hover.evr {
        box-shadow: 0 5px 10px 0 rgba(73, 64, 255, 0.2); }
  .evn.f04 {
    background: #52b669;
    color: #fff; }
    .evn.f04.evp {
      background: rgba(82, 182, 105, 0.2); }
    .evn.f04:not(.evp):hover {
      background: #63c579; }
  .evn.f05 {
    background: #fff;
    color: #2e3246; }
    .evn.f05.evp {
      background: rgba(255, 255, 255, 0.3); }
    .evn.f05:not(.evp):hover {
      background: rgba(255, 255, 255, 0.9); }
  .evn.f06, .evn.f07 {
    background: transparent;
    color: #2e3246; }
    .evn.f06.evp, .evn.f07.evp {
      background: rgba(0, 0, 0, 0); }
    .evn.f06:not(.evp):not(.evq):hover, .evn.f06:not(.evp):not(.evq):focus, .evn.f07:not(.evp):not(.evq):hover, .evn.f07:not(.evp):not(.evq):focus {
      background: rgba(46, 50, 70, 0.1); }
  .evn.f06 {
    z-index: 1; }
  .evn.f08 {
    background: rgba(223, 224, 230, 0.6);
    color: #2e3246; }
    .evn.f08:not(.evp):hover {
      background: #dfe0e6; }
      .evn.f08:not(.evp):hover.evr {
        box-shadow: 0 5px 10px 0 rgba(223, 224, 230, 0.2); }
  .evn.f09 {
    background: #fff;
    color: #2e3246; }
    .evn.f09.evp {
      background: rgba(255, 255, 255, 0.1);
      color: rgba(255, 255, 255, 0.2);
      opacity: 1; }
    .evn.f09:not(.evp):hover {
      background: #dfe0e6; }
  .evn.f0a {
    background: #627be0;
    color: #fff; }
    .evn.f0a.evp {
      background: #dfe0e6;
      color: #fff;
      opacity: 1; }
    .evn.f0a:not(.evp):hover {
      background: rgba(98, 123, 224, 0.9); }
  .evn.f0b {
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    padding: 0 5px; }
  .evn.f0c {
    border-radius: 2px;
    font-size: 12px;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    padding: 0; }
  .evn.f0d {
    border-radius: 2px;
    font-size: 12px;
    font-weight: 500;
    height: 28px;
    line-height: 28px;
    padding: 0 12px; }
  .evn.f0e {
    border-radius: 2px;
    font-size: 13px;
    font-weight: 700;
    height: 28px;
    line-height: 28px;
    padding: 0; }
  .evn.f0f {
    border-radius: 3px;
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    padding: 0 16px;
    font-weight: 700; }
  .evn.f0g {
    border-radius: 3px;
    font-size: 12px;
    font-weight: 700;
    height: 36px;
    line-height: 36px;
    padding: 0 16px; }
  .evn.f0h {
    align-items: center;
    border-radius: 4px;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    height: 42px;
    justify-content: center;
    padding: 0 18px; }
  .evn.f0i {
    border-radius: 4px;
    font-size: 16px;
    font-weight: 700;
    height: 48px;
    line-height: 48px;
    padding: 0 18px; }
  .evn.evp {
    cursor: default;
    opacity: 0.4; }
  .evn.evq {
    cursor: default;
    pointer-events: none; }
  .evn.f0j {
    text-align: left; }
  .evn.f0k {
    text-align: center; }
  .evn.f0l {
    text-align: right; }
  .evn.f0m {
    width: 100%; }
  .evn.f0n {
    background: #d5d5d5; }
    .evn.f0n.f06, .evn.f0n.f07 {
      background: rgba(213, 213, 213, 0.4); }

.bj {
  cursor: pointer;
  position: absolute; }
  .bj.bk {
    height: 20px;
    width: 16px; }
    .bj.bk.bl, .bj.bk.bm, .bj.bk.bn, .bj.bk.bo {
      right: 0;
      top: 0; }
    .bj.bk.bo {
      border-top-right-radius: 2px;
      overflow: hidden; }
      .bj.bk.bo svg {
        position: absolute;
        right: 0;
        top: 0; }
    .bj.bk.bp {
      right: 2px;
      top: 2px; }
      .bj.bk.bp svg {
        opacity: 1; }
    .bj.bk.bq {
      right: 7px;
      top: 16px; }
    .bj.bk.br {
      left: 5px;
      top: 5px; }
    .bj.bk.bs {
      right: 4px;
      top: 0; }
    .bj.bk svg path {
      fill: #ff8537; }
    .bj.bk svg polygon {
      fill: #fff; }
  .bj.bt {
    background-color: rgba(46, 50, 70, 0.6);
    color: #fff;
    font-size: 10px;
    font-weight: 900;
    line-height: 13px;
    margin: 4px;
    padding: 2px 4px;
    right: 0;
    text-transform: uppercase;
    top: 0; }

@-webkit-keyframes c {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

@keyframes c {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%; }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg); }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg); }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg); }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg); } }

/**
 * ----------------------------------------
 * animation fade-in
 * ----------------------------------------
 */
@-webkit-keyframes d {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes d {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.b {
  border: 5px solid;
  border-color: #4285F4;
  border-radius: 50%;
  border-top-color: transparent;
  box-sizing: border-box;
  height: 65px;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65px;
  z-index: 999; }
  .b {
    animation: appPreloaderRotate 1s infinite, appPreloaderColors 4s infinite;
    animation-timing-function: linear; }

.a {
  margin: 0 20%;
  padding-top: 10%; }
  .a h2 {
    font-weight: 300;
    margin-bottom: 18px;
    text-align: center; }
  .a p {
    text-align: center; }
  .a img {
    display: block;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    width: 80%; }


/*# sourceMappingURL=main.56ae607034bd7aee988e.css.map*/